$color-blue: #0f7aff;
$input-width: 227px;
$transition-min-width: 880px;
$transition-time: 1s;
$query-max-width: 570px;

.display-inline {
  display: inline;
}

.nav-icons {
  font-size: 1.5em;
  margin: 0px 0.2em;
  color: #a1a3a6;
  text-align: center;
}

.search-form {
  margin-right: 1em;
}

.search-input {
  display: inline;
  border-radius: 7px 0px 0px 7px;
  margin-right: 0 !important;
  -webkit-transition: all $transition-time ease;
  -moz-transition: all $transition-time ease;
  transition: all $transition-time ease;
}

.search-button {
  display: inline;
  background-color: $color-blue;
  color: white;
  border-radius: 0px 7px 7px 0px !important;
  border-color: $color-blue;
}

.notification-number {
  position: relative;
  top: -15px;
  left: -7px;
  font-size: 0.5em;
  border-radius: 3px 3px;
  text-align: center;
  padding: 0.2em 0.4em;
}

.search-result {
  position: absolute;
  top: 70px;
  width: 280px;
}

.search-text {
  display: inline;
  border-radius: 7px 0px 0px 7px;
  width: $input-width;
  -webkit-transition: all $transition-time ease;
  -moz-transition: all $transition-time ease;
  transition: all $transition-time ease;
}

@media screen and (min-width: $transition-min-width) {
  .search-text:focus {
    width: $input-width * 2;
  }
}

/* Landscape phones and down */
@media (max-width: 525px) {
   .search-text {
    width: 222px;
  }

  .nav-icons {
    font-size: 1.5em;
    margin: 0px 0.2em;
    color: #a1a3a6;
    text-align: center;
  }

  .notifications {
    display: none;
  }
}

