$color-blue: #0f7aff;

.nav-icons {
  color: white;
  font-size: 1.5em;
  margin: 0px 0.5em;
  color: #a1a3a6;
}

.search-form {
  margin-right: 0;
}

.search-input {
  border-radius: 7px 0px 0px 7px;
  margin-right: 0 !important;
}

.search-button {
  background-color: $color-blue;
  color: white;
  border-radius: 0px 7px 7px 0px !important;
  border-color: $color-blue;
}

.notification-number {
  position: relative;
  top: -15px;
  left: -7px;
  font-size: 0.5em;
  border-radius: 3px 3px;
  text-align: center;
  padding: 0.2em 0.4em;
}

.search-result {
  position: absolute;
  top: 70px;
  width: 280px;
}